@import './base/reset';
@import './base/typography';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/blue';
@import './themes/orange';

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.app_redesigned {
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar-track {
  background-color: var(--light-bg-redesigned);
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);
  border-radius: 38px;
}

.app *::-webkit-scrollbar-track {
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: var(--scrollbar-shadow);
}

.app *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}
