:root {
  --font-family-main: tinos, arial, sans-serif;
  --font-family-text-redesigned: 'Nunito Sans', sans-serif;
  --font-family-title-redesigned: 'Roboto', sans-serif;

  // size s
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // size m
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // size l
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // size xl
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // размеры
  --navbar-height: 60px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // z-индексы
  --modal-z-index: 100000;
  --hide-modal-z-index: -1;
  --dropdown-z-index: 10000;
  --listbox-z-index: 10000;
  --sidebar-z-index: 1000;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #ac1010;

  // scrollbar
  --scrollbar-shadow: inset 0 0 6px rgb(0 0 0 / 30%);

  // redesigned

  // size s
  --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

  // size m
  --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

  // size l
  --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-title-redesigned);

  // size xl
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title-redesigned);
}
