.skeleton-circle {
  margin: 0 auto;
}

.avatar-wrapper {
  margin-bottom: 20px;
}

.calendar-wrapper {
  margin-bottom: 16px;
}

.article-sub-title {
  margin-bottom: 6px;
}

.code {
  width: 100%;
}
