.wrapper {
  position: relative;
}

.items {
  position: absolute;
  z-index: var(--dropdown-z-index);
  background: var(--listbox-bg);
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);

  .active {
    cursor: pointer;
    background: var(--inverted-primary-color);
  }
}

.trigger {
  cursor: pointer;

  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.disable {
  pointer-events: none;
  opacity: 0.7;
}

.direction-top-left {
  right: 0;
  bottom: 100%;
}

.direction-top-right {
  bottom: 100%;
  left: 0;
}

.direction-bottom-left {
  top: 100%;
  right: 0;
}

.direction-bottom-right {
  top: 100%;
  left: 0;
}
