.app_theme_blue {
  --bg-color: #2510b1;
  --inverted-bg-color: #13b1a4;
  --primary-color: #f7f6fa;
  --secondary-color: #333;
  --inverted-primary-color: #2510b1;
  --inverted-secondary-color: #9d00ff;

  // skeleton
  --skeleton-color: rgb(255 255 255 / 70%);
  --skeleton-shadow: rgb(143 166 184 / 50%);

  // code
  --code-bg: #130a4e;

  // card
  --card-bg: #3317e6;

  // listbox
  --listbox-bg: #3317e6;
}
