:root {
  --bg-color: #ddd;
  --inverted-bg-color: #222;
  --primary-color: #149608;
  --secondary-color: #000;
  --inverted-primary-color: #08c463;
  --inverted-secondary-color: #04443588;

  // redesigned

  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  // skeleton
  --skeleton-color: #6e6d6d47;
  --skeleton-shadow: rgb(255 255 255 / 5%);

  // code
  --code-bg: #f7f7f7;

  // card
  --card-bg: #c0bfbf;

  // listbox
  --listbox-bg: #c0bfbf;
}
