.app_theme_orange {
  // redesigned

  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: rgb(255 255 255 / 70%);
  --skeleton-shadow: rgb(143 166 184 / 50%);

  // code
  --code-bg: #130a4e;

  // card
  --card-bg: #3317e6;

  // listbox
  --listbox-bg: #3317e6;
}
