.notifications {
  overflow-y: auto;

  width: 500px;
  min-height: 150px;
  max-height: 300px;
  padding: 0 15px;
}

.notifications_redesigned {
  overflow-y: auto;

  width: 323px;
  min-height: 150px;
  max-height: 240px;
  padding-right: 16px;
}
