.icon {
  color: var(--icon-redesigned);
  transition: all 0.2s;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.button {
  cursor: pointer;

  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  &:hover {
    .icon {
      color: var(--accent-redesigned);
      transition: all 0.2s;
    }
  }
}
