.page {
  overflow-y: auto;
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
}

.trigger {
  height: 20px;
  margin: 10px;
}

// redesigned

.page-redesigned {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
