.modal {
  pointer-events: none;

  position: fixed;
  z-index: var(--hide-modal-z-index);
  inset: 0;

  opacity: 0;
}

.content {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;

  border-radius: 12px;
}

.modal-old {
  .content {
    background: var(--bg-color);
  }
}

.modal-new {
  .content {
    background: var(--light-bg-redesigned);
  }
}

.opened {
  pointer-events: auto;

  z-index: var(--modal-z-index);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
}

.opened .content {
  animation-name: open-modal;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.closed .content {
  animation-name: close-modal;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes open-modal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes close-modal {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
