.skeleton {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 50px;

  background: var(--light-bg-redesigned);
  border-radius: 5px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -80%;

    display: block;

    width: 80%;
    height: 100%;

    background: linear-gradient(to left, transparent 0%, var(--dark-bg-redesigned) 50%, transparent 100%);

    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes load {
  from {
    left: -80%;
  }

  to {
    left: 100%;
  }
}

.circle {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text {
  height: 17px;
  border-radius: 4px;
}

.title {
  height: 38px;
  border-radius: 8px;
}
