.size_s {
  &.title {
    font: var(--font-m);
  }

  &.paragraph {
    font: var(--font-s);
  }
}

.size_m {
  &.title {
    font: var(--font-l);
  }

  &.paragraph {
    font: var(--font-m);
  }
}

.size_l {
  &.title {
    font: var(--font-xl);
  }

  &.paragraph {
    font: var(--font-l);
  }
}

.primary {
  color: var(--primary-color);
}

.error {
  color: var(--red-light);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
