.sticky-content-layout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 3fr 1fr;
  gap: 16px;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  justify-self: center;

  width: 100%;
  min-width: 547px;
  max-width: 780px;
}

.left,
.right {
  position: sticky;
  top: 32px;
  height: fit-content;
}

.right {
  grid-area: right;
  min-width: 215px;
  max-width: 268px;
}
