/* tinos-regular - latin */
@font-face {
  font-family: Tinos;
  font-weight: 400;
  font-style: normal;
  src: url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-regular.svg#Tinos') format('svg'); /* Legacy iOS */
}

/* tinos-italic - latin */
@font-face {
  font-family: Tinos;
  font-weight: 400;
  font-style: italic;
  src: url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/src/shared/assets/fonts/tinos/tinos-v24-latin-italic.svg#Tinos') format('svg'); /* Legacy iOS */
}
